main {
    text-align: center;
}

#resetButton {
    padding: 4px 8px;
    font-size: 18px;
    font-weight: bold;
}

.copiesSection {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#showCopies {
    font-size: 20px;
}